# Скопируй этот файл в .env и заполни значения
# cp .env.example .env

# Токен Telegram-бота (получить у @BotFather)
BOT_TOKEN=

# ID Telegram-аккаунта администратора
ADMIN_ID=

# YooKassa
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

# CryptoBot (получить у @CryptoBot -> API)
CRYPTOBOT_TOKEN=

# Remnawave Panel
REMNAWAVE_URL=https://panelhub.tuppyhub.store
SUBSCRIPTION_URL=https://subhub.tuppyhub.store
REMNAWAVE_API_TOKEN=
